[submodule "devdocs"]
	path = devdocs
	url = git@github.com:icai/devdocs.git
	branch = master

[submodule "website"]
	path = website
	url = git@github.com:icai/docshub.git
	branch = source
[submodule "docslogo"]
	path = docslogo
	url = git@github.com:icai/tech-logo.git
	branch = master
