[submodule "devdocs"]
	path = devdocs
	url = https://github.com/w3cub/devdocs.git
	branch = master

[submodule "website"]
	path = website
	url = https://github.com/w3cub/docsgen.git
	branch = master

[submodule "docslogo"]
	path = docslogo
	url = https://github.com/w3cub/docslogo.git
	branch = master

[submodule "cheatsheets"]
	path = cheatsheets
	url = https://github.com/w3cub/cheatsheets.git
	branch = master