[submodule "devdocs"]
	path = devdocs
	url=git@github.com:w3cub/devdocs.git
	branch = master

[submodule "website"]
	path = website
	url=git@github.com:w3cub/docsgen.git
	branch = master
[submodule "docslogo"]
	path = docslogo
	url=git@github.com:w3cub/docslogo.git
	branch = master
